/* Josh Comeaus simple CSS reset combined with Kevin-Powell's reset */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #000000;
  position: relative;
  z-index: -2;
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* ensures that older browsers will display HTML5 elements correctly */
article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

/* sets hyphenation by default on paragraphs */
p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* causes tables to actually look like tables */
table {
  border-collapse: collapse;
}

/* Remove animations for people that prefer reduced motion */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

}


/* ~~~~~~~~~~~~~~ */
/* Custom styling */
/* ~~~~~~~~~~~~~~ */

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#title-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 90px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#instagram {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
}

#instagram:hover {
  color: yellow;
}

#starfield {
  background: black;
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Moon related CSS was taken from here */
/* https://dev.to/thormeier/use-your-i-moon-gination-lets-build-a-moon-phase-visualizer-with-css-and-js-aih */
.sphere {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.hemisphere {
  width: 51%;
  height: 100%;
}

.light {
  background-color: #fbce44;
}

.dark {
  background-color: hsl(286 100% 0%);
}

.divider,
.divider:after {
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.divider {
  background-color: hsl(286 100% 0%);
  /* Dark */
}

.divider:after {
  content: '';
  background-color: #fbce44;
  /* Light */
  transform: rotateY(180deg);
}

.char-container {
  height: 280px;
  display: flex;
}

.align-end {
  align-items: end;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #fbce44;
}

.menu {
  width: 100%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 24px;
  left: 0;
}

.subtitle {
  font-size: 24px;
}

/* ~~~~~~~~~~~~~~ */
/* No-JS Fallback */
/* ~~~~~~~~~~~~~~ */
#nojs-fallback {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: 2rem;
  color: white;
  font-family: Georgia, serif;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: hsl(217, 95%, 23%);
}

.title-fallback {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 80px;
}

/* ~~~~~~~~~ */
/* Menu Page */
/* ~~~~~~~~~ */

#menu-page {
  background-color: hsl(217, 95%, 23%);
  height: 100%;
  color: white;
  padding: 12px;
}

.home-button:hover {
  color: #fbce44;
}

.home-button {
  font-size: 40px;
}

.cafe-menu {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.menu-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 440px;
  flex-grow: 1;
}

.menu-subtitle {
  font-size: 32px;
  border-bottom: 1px solid white;
  margin-bottom: 16px;
}

.mt-4 {
  margin-top: 16px;
}

.section {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.english-item {
  font-size: 20px;
  margin-bottom: 16px;
}

.円 {
  font-size: 20px;
}
